.container{
    display:flex;
    background:#070b0f;
    justify-content: center;
}
 
.container1{
 
    background:#e6e7e8;

}
.container2{
    display:flex;
    background:#3777ee;
    justify-content: center;
}
.container3{
    display:flex;
    background:#58595b;
}

footer{
    background:#88898b;
}
